<style>
    form{
        font-family: "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 16px;
    }
</style>
<div class="container">
    <div class="header">
        <h4 style="display: inline-block">编辑任务</h4>
        <div style="float: right;">
            <button id="add-taskData-button" type="button" class="btn btn-primary add-taskData-commit">提交</button>
            <a href="/task/list-task" type="submit" class="btn btn-default">返&nbsp;回</a>
        </div>
        <hr/>
    </div>
    <div id="editModal-body">

    </div>
</div>
<script type="text/javascript" src="/dist/editTask.js"></script>