.sidebar {
    margin-top:-20px;
    max-height: 700px;
    min-height: 400px;
    z-index: 1000;
    display: block;
    padding: 10px 20px 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-bottom-right-radius: 5px;
}
/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    /*margin-bottom: 20px;*/
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}
/*
 * Main content
 */

.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.upload-modal .modal-dialog{
    margin-top:12%;
    width: 500px;
}
#file{
    width: 100px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
}