<link rel="stylesheet" href="/css/table.css">
<link rel="stylesheet" href="/css/task.css">
<div class="container">
    <div style="display:none">
        <div id="kmap-customer-tool-bar-2">
            <div class="customer-table-cell">
                <div class="btn-group">
                    <a href="javascript:;" type="button" class="btn btn-custom-1 btn-sm" id="add_parser"><span class="glyphicon glyphicon-plus"></span>&nbsp;添加</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <table id="table"></table>
    </div>
</div>
<div id="debug-wrap" class="task-debug-wrap" style="display:none;">
    <div class="debug-header">
        <span>调试结果</span>
        <button id="close-debug-button" type="button" class="close">×</button>
    </div>
    <div class="debug-result" style="margin-top: 1px">
        <table id="debug-table"></table>
    </div>
</div>
<script type="text/javascript" src="/dist/listParser.js"></script>