<link rel="stylesheet" href="/css/table.css">
<div id="react-test"></div>
<div class="container">
    <div class="row">
        <table id="table"></table>
    </div>
    <div style="display:none">
        <div id="kmap-customer-tool-bar-2">
            <div class="customer-table-cell">
                <div class="btn-group">
                    <a href="/data/add-meta-data" type="button" class="btn btn-custom-1 btn-sm"><span class="glyphicon glyphicon-plus"></span>&nbsp;添加</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/dist/metaData.js"></script>